<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <!-- 부트스트랩 CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>To-Do List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <style>
        /* 두 창의 높이를 동일하게 맞추기 위한 스타일 */
        .equal-height {
            display: flex;
            align-items: stretch;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .red {
        background-color: red;
    }

    /* 주황색 배경 (1시간 ~ 5시간 미만) */
    .orange {
        background-color: orange;
    }

    /* 회색 배경 (시간이 지남) */
    .gray {
        background-color: gray;
    }
    </style>
</head>

<body>
<div class="text-center mt-5">
    <h1 class="display-4">To-Do List</h1>
</div>
<div class="container mt-5">
    <div class="row equal-height justify-content-center">
        <!-- To-Do List Table -->
        <div class="col-md-8">
            <div class="card h-100"> <!-- To-Do List도 카드를 사용하여 높이 일치 -->
                <div class="card-body">
                    <h2 class="text-center"></h2>
                    <button class="btn btn-primary mb-3 d-block mx-auto" onclick="openCreateWindow()">생성</button>


                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>To do</th>
                            <th>Status</th>
                            <th>Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task, iterStat : ${home}" th:class="${task.color}">

                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${task.summary}"></td>
                            <td th:text="${task.status}"></td>

                            <td>
                                <form th:action="@{/tasks/updateStatus}" method="post" class="form-inline">
                                    <input type="hidden" name="id" th:value="${task.id}" />
                                    <input type="hidden" name="datetime" th:value="${task.datetime}" />

                                    <div class="form-group mr-2">
                                        <select name="status" class="form-control">
                                            <option value="IN_PROGRESS" th:selected="${task.status} == 'IN_PROGRESS'">진행중</option>
                                            <option value="DONE" th:selected="${task.status} == 'DONE'">완료</option>
                                            <option value="NOT_DONE" th:selected="${task.status} == 'NOT_DONE'">미완료</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-sm">변경</button>
                                    <button class="btn btn-primary btn-sm" th:attr="data-id=${task.id}" onclick="openEditWindow(this)" >상세</button>

                                </form>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Completion Rate Section -->
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Completion Rate</h5>
                    <!-- 제목과 퍼센트 간의 여백 추가 -->
                    <p class="display-1 text-dark mt-4 mb-0" style="font-weight: bold;">
                        <span th:text="${completionRate} + '%'">0%</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calendar Input Group -->
<div class="row justify-content-center mt-3">
    <div class="col-md-6">
        <input type="text" id="startdate" class="form-control datepicker" placeholder="시작날짜">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>

<script>
    $(document).ready(function() {
        // Datepicker 초기화
        $('#startdate').datepicker({
            startDate: new Date('2022'),
            calendarWeeks: false,
            todayHighlight: true,
            autoclose: true,
            format: "yyyy-mm-dd",
            language: "ko"
        }).on('changeDate', function(e) {
            var selectedDate = $('#startdate').val();
            window.location.href = '/?datetime=' + selectedDate;
        });
    });

     // 생성 버튼 클릭 시 새로운 창 열기
    function openCreateWindow() {
        window.open('/tasks/create', '_blank', 'width=430,height=700');
    }

    // 수정 링크 클릭 시 새로운 창 열기
    function openEditWindow(button) {

        const id = button.getAttribute("data-id");
        window.open('/tasks/' + id , '_blank', 'width=430,height=700');
    }
</script>

</body>

</html>
