<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href='fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/packages/daygrid/main.css' rel='stylesheet' />


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.kr.min.js"></script>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>TO-DO LIST</h2>
            <a th:href="@{/tasks/create}" class="btn btn-primary mb-3">생성</a>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>No</th>
                    <th>To do</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${home}">
                    <td>
                        <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="'#' + ${task.id}"></a>
                    </td>
                    <td>
                        <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.summary}"></a>
                    </td>
                    <td>
                        <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.datetime}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <div>
        <label class="input-group-text" for="startdate">
            <i class="fa-solid fa-calender"></i>
        </label>
        <input type="text" id="startdate" class="form-control datepicker" placeholder="시작날짜">
    </div>
</div>
<script>
    $(function (){
        $('.datepicker').datepicker({
            startDate : new Date('2022'),
            calendarWeeks: false,
            todayHighlight: true,
            autoclose: true,
            format : "yyyy-mm-dd",
            language : "ko"

        });
    })
</script>
</body>
</html>
